JavaWebService/UPMCourses.xml

<wsdl2:description xmlns:wsdl2="http://www.w3.org/ns/wsdl" xmlns:wsoap="http://www.w3.org/ns/wsdl/soap" xmlns:whttp="http://www.w3.org/ns/wsdl/http" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdlx="http://www.w3.org/ns/wsdl-extensions" xmlns:tns="http://practica.t3.sos.fi.upm.es" xmlns:wrpc="http://www.w3.org/ns/wsdl/rpc" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="http://practica.t3.sos.fi.upm.es"><wsdl2:documentation>UPMCourses</wsdl2:documentation><wsdl2:types><xs:schema xmlns:ns="http://practica.t3.sos.fi.upm.es" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://practica.t3.sos.fi.upm.es">
<xs:element name="showCourses">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="args0" type="xs:int" />
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="showCoursesResponse">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string" />
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="checkCourse">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="args0" nillable="true" type="xs:string" />
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="checkCourseResponse">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema></wsdl2:types><wsdl2:interface name="ServiceInterface"><wsdl2:operation name="checkCourse" style="http://www.w3.org/ns/wsdl/style/rpc" wrpc:signature="args0 #in return #return " pattern="http://www.w3.org/ns/wsdl/in-out" wsdlx:safe="false"><wsdl2:input element="tns:checkCourse" wsaw:Action="urn:checkCourse" /><wsdl2:output element="tns:checkCourseResponse" wsaw:Action="urn:checkCourseResponse" /></wsdl2:operation><wsdl2:operation name="showCourses" style="http://www.w3.org/ns/wsdl/style/rpc" wrpc:signature="args0 #in return #return " pattern="http://www.w3.org/ns/wsdl/in-out" wsdlx:safe="false"><wsdl2:input element="tns:showCourses" wsaw:Action="urn:showCourses" /><wsdl2:output element="tns:showCoursesResponse" wsaw:Action="urn:showCoursesResponse" /></wsdl2:operation><wsdl2:operation name="checkSubject" pattern="http://www.w3.org/ns/wsdl/in-out"><wsdl2:input element="#none" wsaw:Action="urn:checkSubject" /><wsdl2:output element="#none" wsaw:Action="urn:checkSubjectResponse" /></wsdl2:operation><wsdl2:operation name="showSubjects" pattern="http://www.w3.org/ns/wsdl/in-out"><wsdl2:input element="#none" wsaw:Action="urn:showSubjects" /><wsdl2:output element="#none" wsaw:Action="urn:showSubjectsResponse" /></wsdl2:operation></wsdl2:interface><wsdl2:binding name="UPMCoursesSoap12Binding" interface="tns:ServiceInterface" type="http://www.w3.org/ns/wsdl/soap" wsoap:version="1.2"><wsdl2:operation ref="tns:checkCourse" wsoap:action="urn:checkCourse" /><wsdl2:operation ref="tns:showCourses" wsoap:action="urn:showCourses" /></wsdl2:binding><wsdl2:service name="UPMCourses" interface="tns:ServiceInterface"><wsdl2:endpoint name="UPMCoursesHttpSoap12Endpoint" binding="tns:UPMCoursesSoap12Binding" address="http://138.100.15.164:8080/axis2/services/UPMCourses.UPMCoursesHttpSoap12Endpoint/" /></wsdl2:service></wsdl2:description>